@charset "UTF-8";

:root {
  /* color */
  --baseColor-black: #333;
  --baseColor-white: white;
  --selectColor-red: #e53222;
  --selectColor-black:black;
  /* font */
  --baseFont: "Roboto", sans-serif;
}

html {
/* scroll bar */
  overflow-y: scroll;
}

/* body {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 160%;
  line-height: 1.68;
  overflow: hidden;
  min-width: 1024px;
  -webkit-text-size-adjust: 100%;
} */

main {
  z-index: 4;
  overflow: hidden;
  position:relative;
  top:80px;
}



