@charset "UTF-8";

:root {
  /* color */
  --baseColor-black: #333;
  --baseColor-white: white;
  --selectColor-red: #e53222;
  --selectColor-black:black;
  /* font */
  --baseFont: "Roboto", sans-serif;
}

html {
/* scroll bar */
  overflow-y: scroll;
}

main {
  z-index: 4;
  overflow: hidden;
  position:relative;
  top:80px;
}



