@charset "UTF-8";

:root {
  /* color */
  --baseColor-black: #333;
  --baseColor-white: white;
  --selectColor-red: #e53222;
  --selectColor-black:black;
  /* font */
  --baseFont: "Roboto", sans-serif;
}

html {
/* scroll bar */
  overflow-y: scroll;
}

/* body {
  background-color: #DCD0B4;
} */

main {
  z-index: 4;
  overflow: hidden;
  position:relative;
  top:80px;
}

/* .category_box {
  display: block;
} */

a {
  display: block;
  color: var(--baseColor-black);
  text-decoration: none;
}

/* ul{display:inline-block;}  */

