 <header th:fragment="headerFragment">
    <div class="header_area" id="">
      <a class="navbar-brand" th:href="@{/index}">
        <img th:src="@{/assets/img/food.png}" title="" class="thumb_nail" />
      </a>
      <p class="head-tagline"><img th:src="@{/assets/img/head-tagline.png}" alt="" id="iii"></p>
      <nav>
        <ul>
          <li class="active"><a th:href="@{/index}">ホーム</a></li>
          <li><a th:href="@{/writeRecipe}">レシピ投稿</a></li>
          <li><a th:href="@{/myPage}">マイページ</a></li>
          <li><a th:href="@{/adminPage}">管理者ページ</a></li>
          <li><a th:href="@{/signin}">会員登録</a></li>
          <li>
            <a th:href="@{/login}" sec:authorize="isAnonymous()">ログイン</a>
            <a th:href="@{/logout}" sec:authorize="isAuthenticated()">ログアウト</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

