<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
  <header th:replace="~{header :: headerFragment}"></header>
  <main>
    <div class="img-bg">
      <!-- 検索 -->
      <div class="row justify-content-center">
        <div class="content col-md-6 justify-content-center search">
            <label for="" class="search_label" id="search_label-big">キーワードでレシピ検索!</label>
          <label for="" class="search_label" id="search_label-small">キーワード検索!</label>
            <div class="search_input">
              <div class="input-group">
                <input type="text" id="search_kw" class="form-control" th:value="${kw}" />
                <button class="btn btn-dark indexSearch common-btn" type="button" id="btn_search">
                  検索
                </button>
              </div>
            </div>
            <div class="row justify-content-center mt-3">
              <!-- カテゴリー -->
              <div class="col-md-3 category_box">
                <div class="form-group">
                  <select class="form-select" id="search_category" th:value="${category}" aria-label="category">
                    <option value="" selected>カテゴリ</option>
                    <option value="韓国料理">韓国料理</option>
                    <option value="日本料理">日本料理</option>
                    <option value="中華料理">中華料理</option>
                    <option value="西洋料理">西洋料理</option>
                  </select>
                </div>
              </div>
              <!-- 調理時間 -->
              <div class="col-md-3 category_box">
                <div class="form-group">
                  <select class="form-select" id="search_cookTime" th:value="${cookTime}" aria-label="cookTime">
                    <option value="" selected>調理時間</option>
                    <option value="">全体</option>
                    <option value="10">10分以内</option>
                    <option value="20">20分以内</option>
                    <option value="30">30分以内</option>
                    <option value="40">40分以内</option>
                    <option value="50">50分以内</option>
                    <option value="60">60分以内</option>
                    <option value="61">60分以上</option>
                  </select>
                </div>
              </div>
              <!-- 予算 -->
              <div class="col-md-3 category_box">
                <div class="form-group">
                  <select class="form-select" id="search_budget" th:value="${budget}" aria-label="budget">
                    <option value="" selected>予算</option>
                    <option value="100">100円以内</option>
                    <option value="500">101~500円</option>
                    <option value="1000">501~1000円</option>
                    <option value="2000">1000~2000円</option>
                    <option value="5000">2000~5000円</option>
                    <option value="5001">5000円以上</option>
                  </select>
                </div>
              </div>
              <!-- ソート順 (人気・日付) -->
              <div class="col-md-3 category_box">
                <div class="form-group">
                  <select class="form-select" id="search_orderBy" th:value="${orderBy}" aria-label="orderBy">
                    <option value="date" selected>日付順</option>
                    <option value="popular">人気順</option>
                  </select>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- carousel -->
      <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="assets/img/pasta_1920.jpg" class="d-block w-100 img-bg" alt="..." />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/img/food-meal_640.jpg" class="d-block w-100 img-bg" alt="..." />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/img/food-steak_640.jpg" class="d-block w-100 img-bg" alt="..." />
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- end carousel-->
    </div>
    <!-- end 検索 -->
    <div class="container-fluid container_recipe">
      <div class="row">
        <!-- カテゴリー -->
        <div class="col-md-2">
          <h3 id="category-menu">カテゴリ</h3>
          <div class="form-group">
            <ul class="list-group">
              <li class="list-group-item" id="list_korean">
                <a th:href="@{/index(category='韓国料理')}" class="block_none">韓国料理<img src="assets/img/thumb_peppers.png" title=""
                                                                class="thumb_nail" /></a>
              </li>
              <li class="list-group-item" id="list_japanese">
                <a th:href="@{/index(category='日本料理')}" class="block_none">日本料理<img src="assets/img/thumb_sushi.png" title=""
                                                                class="thumb_nail" /></a>
              </li>
              <li class="list-group-item" id="list_chinese">
                <a th:href="@{/index(category='中華料理')}" class="block_none">中華料理<img src="assets/img/thumb_takeaway.png" title=""
                                                                class="thumb_nail" /></a>
              </li>
              <li class="list-group-item" id="list_western">
                <a th:href="@{/index(category='西洋料理')}" class="block_none">西洋料理<img src="assets/img/thumb_quesadilla.png" title=""
                                                                class="thumb_nail" /></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- end カテゴリー -->
        <!-- レシピリスト -->
        <div class="col-md-8">
          <div class="container mt-3">
            <div class="recipe_list">
              <div class="row p-2">
                <div  id="search-index">
                  <h3 style="display: inline-block;" th:if="${not #strings.isEmpty(kw)}" th:text="@{|「${kw}」|}"></h3>
                  <h3 style="display: inline-block;" th:if="${not #strings.isEmpty(category)}" th:text="@{|「${category}」|}"></h3>
                  <h3 style="display: inline-block;" th:if="${not #strings.isEmpty(cookTime)}" th:text="@{|「${cookTime}分以内」|}"></h3>
                  <h3 style="display: inline-block;" th:if="${not #strings.isEmpty(budget)}" th:text="@{|「${budget}円以内」|}"></h3>
                  <h3 style="display: inline-block;" th:if="${not #strings.isEmpty(kw) or not #strings.isEmpty(category) or
                  not #strings.isEmpty(cookTime) or not #strings.isEmpty(budget)}"
                      th:text="@{|の検索結果|}"></h3>
                  <h6 th:if="${not #strings.isEmpty(kw) or not #strings.isEmpty(category) or
                  not #strings.isEmpty(cookTime) or not #strings.isEmpty(budget)}"　
                      th:text="@{| レシピ ${paging.totalElements}件 見つかりました。|}"></h6>
                </div>
              </div>
              <div class="row p-2">
                <div th:each="recipe, loop : ${paging}" class="col-sm-4 h-100">
                  <div class="card border-0 a_none">
                    <a th:href="@{|/recipe/detail/${recipe.id}|}" class="btn btn-light recipe_link">
                      <div class="image-container zoom">
                             <img class="card-img-top thumb-size" th:if="${not #strings.isEmpty(recipe.thumbnail)}"
                             th:src="@{|/uploaded/${recipe.thumbnail}|}" alt="Card image cap" th:onerror="setDefaultImage(this)"/>
                        <i class="like-btn fa-solid fa-heart like_color">
                          <span class="like-count" th:text="${#lists.size(recipe.voter)}"></span>
                        </i>
                      </div>
                    </a>
                    <a th:href="@{|/recipe/detail/${recipe.id}|}" class="text-left a_none">
                    <div class="card-body">

                      <h5 class="card-title" th:text="${recipe.recipeName}"></h5>
                      <h7 class="card-title" th:if="${recipe.author != null}" th:text="@{|作成者 ${recipe.author.username}|}"></h7>
<!--                      <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"-->
<!--                         th:data-uri="@{|/recipe/vote/${recipe.id}|}">-->
<!--                        いいね-->
<!--                        <span class="badge rounded-pill bg-pink" th:text="${#lists.size(recipe.voter)}"></span>-->
<!--                      </a>-->

                    </div>
                    </a>
                  </div>
                </div>
                <!-- ページング -->
                <div th:if="${!paging.isEmpty()}">
                  <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                      <a class="page-link" href="javascript:void(0)" th:data-page="0">
                        <span>«</span>
                      </a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                      <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                        <span><</span>
                      </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:if="${page > paging.number-1 and page <= paging.number+3}"
                        th:classappend="${page == paging.number} ? 'active'" class="page-item">
                      <a th:text="${page + 1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                      <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                        <span>></span>
                      </a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                      <a class="page-link" href="javascript:void(0)" th:data-page="${paging.totalPages-1}">
                        <span>»</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- ページング終わり -->
                <form th:action="@{/index}" method="get" id="searchForm">
                  <input type="hidden" id="kw" name="kw" th:value="${kw}">
                  <input type="hidden" id="category" name="category" th:value="${category}">
                  <input type="hidden" id="cookTime" name="cookTime" th:value="${cookTime}">
                  <input type="hidden" id="budget" name="budget" th:value="${budget}">
                  <input type="hidden" id="orderBy" name="orderBy" th:value="${orderBy}">
                  <input type="hidden" id="page" name="page" th:value="${paging.number}">
                </form>
              </div>
              <!-- end inner .row -->
            </div>
            <!-- end .recipe_list -->
          </div>
          <!-- end .container mt-3 -->
        </div>
        <!-- end レシピリスト -->
        <div class="col-md-2"></div>
      </div>
      <!-- end .row -->
    </div>
    <!-- end .container_recipe -->
  </main>
  <footer th:replace="~{footer :: footerFragment}"></footer>
  <script type="text/javascript" th:src="@{/js/loading.js}"></script>
  <script type="text/javascript" th:src="@{/js/common.js}"></script>
</div>
<script layout:fragment="script" type='text/javascript'>
/*  const recommend_elements = document.getElementsByClassName("recommend");
  Array.from(recommend_elements).forEach(function (element) {
    element.addEventListener("click", function () {
      if (confirm("いいねしますか？")) {
        location.href = this.dataset.uri;
      }
    });
  });
 */

const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});


function performSearch() {
  document.getElementById('kw').value = document.getElementById('search_kw').value;
  document.getElementById('category').value = document.getElementById('search_category').value;
  document.getElementById('cookTime').value = document.getElementById('search_cookTime').value;
  document.getElementById('budget').value = document.getElementById('search_budget').value;
  document.getElementById('orderBy').value = document.getElementById('search_orderBy').value;
  document.getElementById('page').value = 0;
  document.getElementById('searchForm').submit();
}

document.getElementById('btn_search').addEventListener('click', performSearch);




</script>
</html>