<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="ja">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf" th:content="${_csrf.token}">

  <!-- css -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/jquery.modal.min.css}">
  <script type="text/javascript" th:src="@{/js/bootstrap/jquery-3.6.4.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap/popper.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap/jquery.modal.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap/fontawesome.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="text/javascript" th:src="@{/js/datalist-polyfill.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/headerScript.js}"></script>
  <script type="text/javascript" th:src="@{/js/common.js}"></script>


  <!-- favicon -->
  <link rel="icon" type="image/x-icon" th:href="@{/assets/icon/logo_favicon.ico}" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet" />

  <!-- icon - fa-solid fa-use -->
  <script src="https://kit.fontawesome.com/d35341ad90.js" crossorigin="anonymous"></script>

  <title>ミリネレシピ</title>
</head>
<body>
<!-- 基本テンプレートの中に入る内容 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 基本テンプレートの中に入る内容 End -->
<div id="loading">
  <div class="loader"></div>
</div>
<th:block layout:fragment="script">
</th:block>
</body>
</html>