<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<html lang="ja">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf" th:content="${_csrf.token}">
  <!-- css -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.modal.min.css}">
  <script type="text/javascript" th:src="@{/js/jquery-3.6.4.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/popper.js}"></script>
  <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.modal.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/fontawesome.js}"></script>

  <!-- favicon -->
  <link rel="icon" type="image/x-icon" th:href="@{/assets/icon/logo_favicon.ico}" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet" />

  <!-- icon - fa-solid fa-use -->
  <script src="https://kit.fontawesome.com/d35341ad90.js" crossorigin="anonymous"></script>

  <title>ミリネレシピ</title>
</head>
<body>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<th:block layout:fragment="script"></th:block>



</body>
</html>