<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
  <header th:replace="~{header :: headerFragment}"></header>
<!--  <main>-->
  <div  class="user_form_wrapper" style="width: 400px">
    <div class="row m-5"></div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">&nbsp&nbsp&nbsp&nbsp<a th:href="@{/index}">ホーム</a></li>
        <li class="breadcrumb-item active" aria-current="page">&nbsp&nbspログイン</li>
      </ol>
    </nav>
    <h1><i class="fa-solid fa-user"></i> ログイン</h1>
    <form name="f1" id="login_form" method="post" th:action="@{/login}">
      <div th:if="${param.error}">
        <div class="alert alert-danger">
            ニックネーム又はパスワードを確認してください。
        </div>
      </div>
      <p>まだ会員登録をされていない方は<a href="signin">こちら</a></p>
      <input type="text" name="username" id="user_email" placeholder="ID" /> 
      <input type="password" name="password" id="password" placeholder="パスワード" autocomplete="off"/>
      <label for="js-remember_check">
        <input type="checkbox" class="checkbox_login" id="js-remember_check" />メールアドレスを記憶する。
      </label>
      <div class="btn_area">
        <button type="submit" class="btn_submit" onclick="checkValue();">
          <span>ログイン</span>
        </button>
      </div>

      <a href="newpassword">パスワードを忘れた場合</a>
    </form>
  </div>
<!--  </main>-->
<!--  <footer th:replace="~{footer :: footerFragment}"></footer>-->
</div>
<script layout:fragment="script" th:inline="javascript" type="text/javascript">
  /*<![CDATA[*/
  var message = /*[[${message}]]*/ '';

  if (message) {
    alert(message);
  }
  /*]]>*/

</script>

</html>