<html layout:decorate="~{layout}">
<script layout:fragment="script" type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  var message = /*[[${message}]]*/ '';

  if (message) {
    alert(message);
  }
  /*]]>*/
</script>
<div layout:fragment="content">
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
  <header th:replace="~{header :: headerFragment}"></header>
  <main>
    <div class="mt-3 bread">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">ホーム</a></li>
          <li class="breadcrumb-item"><a th:href="@{/login}">ログイン</a></li>
          <li class="breadcrumb-item active" aria-current="page">パスワード再発行</li>
        </ol>
      </nav>
    </div>
    <div class="container-fluid">
      <div class="row p-2 mt-2 justify-content-center">
        <div class="col-md-4">
          <h1><i class="fa-solid fa-user"></i> パスワード再発行</h1>
          <form id="login_form" method="post" th:action="@{/newpassword}">
            <p>登録情報の入力してくだたい。</p>
            <input type="text" name="username" id="username" placeholder="ご利用中のID" />
            <input type="email" id="email" name="email" placeholder="E-Mail" />
            <input type="password" id="password" name="password" placeholder="新しいパスワード" />
            <div class="btn_area">
              <button type="submit" class="btn_submit">
                <span>新しいパスワード発行する</span>
              </button>
            </div>
            <a th:href="@{/login}">ログインページに戻る</a>
            <!-- <a href="login">トップに戻る</a> -->
          </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </main>
  <footer th:replace="~{footer :: footerFragment}"></footer>
  <script type="text/javascript" th:src="@{/js/common.js}"></script>
</div>
<script type="text/javascript" src="js/login.js"></script>
</html>