<html layout:decorate="~{layout}">
<script layout:fragment="script" type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  var message = /*[[${message}]]*/ '';

  if (message) {
    alert(message);
  }
  /*]]>*/
</script>
<div layout:fragment="content">
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
  <header th:replace="~{header :: headerFragment}"></header>
  <div class="user_form_wrapper" style="width: 400px">
    <h1><i class="fa-solid fa-user"></i> パスワード再発行</h1>
    <form id="login_form" method="post" th:action="@{/newpassword}">

      <p>登録情報の入力してくだたい。</p>
      <input type="text" name="username" id="username" placeholder="ご利用中のID" />
      <input type="email" id="email" name="email" placeholder="E-Mail" />
      <input type="password" id="password" name="password" placeholder="新しいパスワード" />
      <div class="btn_area">
        <button type="submit" class="btn_submit">
          <span>新しいパスワード発行する</span>
        </button>
      </div>
      <a th:href="@{/login}">ログインページに戻る</a>
      <!-- <a href="login">トップに戻る</a> -->
    </form>
  </div>
</div>
<script type="text/javascript" src="js/login.js"></script>
</html>