<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
  <header th:replace="~{header :: headerFragment}"></header>
  <div class="user_form_wrapper" style="width: 400px">
    <div class="mt-5">
      <div class="row p-3"></div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">ホーム</a></li>
          <li class="breadcrumb-item"><a th:href="@{/mypage}">マイページ</a></li>
          <li class="breadcrumb-item active" aria-current="page">E-Mail変更</li>
        </ol>
      </nav>
    </div>
    <h1><i class="fa-solid fa-user"></i>E-Mail変更</h1>
    <form id="login_form" method="post" th:action="@{/mypage/reemail}">
      <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}"
      />
      <p>現在E-Mail :<span th:text="${user.email}"></span></p>
      <p>新しいE-Mailを入力してくだたい</p>

      <input type="email" class="form-control" id="newEmail" name="newEmail" placeholder="新しいE-Mail" autocomplete="off"/>
      <button type="button" id="checkEmailBtn" >チェック</button>
      <div id="emailCheckResult" class="alert"></div>
      <div class="btn_area">
        <button type="submit" class="btn_submit">
          <span>E-Mailを変更する</span>
        </button>
      </div>
      <a th:href="@{/mypage}">マイページに戻る</a>
    </form>
  </div>
<!--  <footer th:replace="~{footer :: footerFragment}"></footer>-->
</div>
<script type="text/javascript" src="js/login.js"></script>
<script layout:fragment="script" type='text/javascript'>

$(document).ready(function() {
    $("#checkEmailBtn").click(function() {
        var newEmail = $("#newEmail").val();
        var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        if (!emailRegex.test(newEmail)) {
            alert("正しいE-Mailを入力してください。");
            return;
        }
        $.ajax({
            type: "GET",
            url: "/check-email",
            data: { newEmail: newEmail },
            success: function(result) {
                if (result) {
                    $("#emailCheckResult").text("使用可能なE-Mailです。");
                } else {
                    $("#emailCheckResult").text("既に登録されたE-Mailです。");
                }
            },
            error: function() {
                alert("チェック失敗しました。");
            }
        });
    });
});
</script>
</html>