<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
  <header th:replace="~{header :: headerFragment}"></header>
  <div class="user_form_wrapper" style="width: 400px">
    <h1><i class="fa-solid fa-user"></i>ニックネーム変更</h1>
    <form id="login_form" method="post" action="#">
      <p>登録情報の入力してくだたい</p>
      <input type="text" name="user_password" placeholder="新しいニックネーム" />
      <input type="text" name="user_birthdate" placeholder="新しいニックネーム（確認）" />
      <!-- <input type="submit" onclick="checkValue();" value="ニックネームを変更する" /> -->
      <div class="btn_area">
        <button type="submit" class="btn_submit" onclick="checkValue();">
          <span>ニックネームを変更する</span>
        </button>
      </div>
      <a href="myPage">マイページに戻る</a>
    </form>
  </div>
</div>
<script type="text/javascript"></script>
<script type="text/javascript" src="js/login.js"></script>
</html>