<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
  <header th:replace="~{header :: headerFragment}"></header>
  <div class="user_form_wrapper" style="width: 400px">
    <h1><i class="fa-solid fa-user"></i>ニックネーム変更</h1>
    <form id="login_form" method="post" th:action="@{|/mypage/renickname/${user.id}|}">
      <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}"
      />
      <p>新しいニックネームを入力してくだたい</p>
      <input type="text" class="form-control" name="username" placeholder="現在ニックネーム" />
      <input type="text" class="form-control" name="newNickname" placeholder="新しいニックネーム" />
      <div class="btn_area">
        <button type="submit" class="btn_submit">
          <span>ニックネームを変更する</span>
        </button>
      </div>
      <a th:href="@{/mypage}">マイページに戻る</a>
    </form>
  </div>
</div>
<script type="text/javascript"></script>
<script type="text/javascript" src="js/login.js"></script>
</html>