<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
  <header th:replace="~{header :: headerFragment}"></header>
  <main>
    <div class="container-fluid">
      <div class="row p-3 mt-2 justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/index}">ホーム</a></li>
              <li class="breadcrumb-item"><a th:href="@{/mypage}">マイページ</a></li>
              <li class="breadcrumb-item active" aria-current="page">パスワード変更</li>
            </ol>
          </nav>
          <h1><i class="fa-solid fa-user"></i> パスワード変更</h1>
          <form id="login_form" method="post" th:action="@{/mypage/repassword}">
            <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"
            />
            <p>登録情報の入力してくだたい</p>
            <input type="password" class="form-control" name="currentPassword" placeholder="現在パスワード" autocomplete="off"/>
            <input type="password" class="form-control" name="newPassword" placeholder="新しいパスワード" autocomplete="off"/>
            <input type="password" class="form-control" name="confirmPassword" placeholder="新しいパスワード（確認）" autocomplete="off"/>
            <!-- <input type="submit" onclick="checkValue();" value="パスワードを変更する" /> -->
            <div class="btn_area">
              <button type="submit" class="btn_submit" onclick="checkValue();">
                <span>パスワードを変更する</span>
              </button>
            </div>
            <a href="myPage">マイページに戻る</a>
          </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </main>
  <footer th:replace="~{footer :: footerFragment}"></footer>
</div>
<script type="text/javascript"></script>
<script type="text/javascript" src="js/login.js"></script>
</html>