<html layout:decorate="~{layout}">
<div layout:fragment="content">

  <!-- Button to trigger the search ingredient modal -->
  <button type="button" class="btn btn-primary" id="search-ingredient-btn" data-bs-toggle="modal" data-bs-target="#searchIngredientModal">
    Search Ingredients
  </button>

  <div class="modal fade" id="searchIngredientModal" tabindex="-1" aria-labelledby="searchIngredientModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchIngredientModalLabel">材料</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" th:action="@{/ingredient/search}" th:object="${searchForm}">
            <div class="mb-3">
              <label for="category-dropdown" class="form-label">メインカテゴリー</label>
              <select class="form-select" id="category-dropdown" name="categoryId" th:field="*{categoryId}">
                <option value="">選択してください</option>
                <option th:each="category : ${categories}"
                        th:if="${category.level == 0}"
                        th:value="${category.id}"
                        th:text="${category.name}"
                        th:selected="${category.id == searchForm.categoryId}"></option>
              </select>
            </div>
            <div class="mb-3">
              <label for="category-dropdown" class="form-label">メインカテゴリー</label>
              <select class="form-select" id="category-dropdown" name="categoryId" th:field="*{categoryId}">
                <option value="">選択してください</option>
                <option th:each="category : ${categories}"
                        th:if="${category.level == 1}"
                        th:value="${category.id}"
                        th:text="${category.name}"
                        th:selected="${category.id == searchForm.categoryId}"></option>
              </select>
            </div>
            <div class="mb-3">
              <label for="ingredient-dropdown" class="form-label">詳細カテゴリー</label>
              <select class="form-select" id="ingredient-dropdown" name="name" th:field="*{name}">
                <option value="">選択してください</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="unit-dropdown" class="form-label">単位</label>
              <select class="form-select" id="unit-dropdown" name="measurementUnitId" th:field="*{measurementUnitId}">
                <option value="">選択してください</option>
                <option th:each="unit : ${units}" th:value="${unit.id}" th:text="${unit.name}"></option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<script layout:fragment="script" type='text/javascript'>

$(document).ready(function() {
  // Add event listener to category dropdown
  $('#category-dropdown').change(function() {
    // Get selected category ID
    var categoryId = $(this).val();
    console.log(categoryId);
  });
 });

$(document).ready(function() {
  // Add event listener to category dropdown
  $('#category-dropdown').change(function() {
    // Get selected category ID
    var categoryId = $(this).val();

    $.ajax({
      url: '/ingredient/subcategories/' + categoryId,
      type: 'GET',
      success: function(data) {
        // Clear existing sub category options
        $('#ingredient-dropdown').find('option').remove().end();
        // Add new sub category options
        $.each(data, function(index, subcategory) {
          $('#ingredient-dropdown').append($('<option>').text(subcategory.name).attr('value', subcategory.id));
        });
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus + ': ' + errorThrown);
      }
    });

});
});

</script>

</html>