<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}">
  <header th:replace="~{header :: headerFragment}"></header>
  <main>
    <div class="mt-3 bread">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">&nbsp&nbsp&nbsp&nbsp<a th:href="@{/index}">ホーム</a></li>
          <li class="breadcrumb-item active" aria-current="page">&nbsp&nbsp会員登録</li>
        </ol>
      </nav>
    </div>
  <div class="container-fluid">
    <div class="row p-3"></div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h1><i class="fa-solid fa-user"></i> 会員登録</h1>
        <form id="signin_form" th:action="@{/signin}" th:object="${userCreateForm}" method="post" class="needs-validation" novalidate>
          <div class="alert alert-danger" role="alert" th:if="${firstErrorMessage}">
            <div th:text="${firstErrorMessage}"/>
          </div>
          <div class="join_row">
            <div class="form-group">
              <h3 class="join_title">
                <label for="username">* ID</label>
              </h3>
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="IDを入力してください" aria-describedby="check-duplicate" autocomplete="off"/>
                <button type="button" class="btn btn-outline-secondary" id="check-duplicate">チェック</button>
                <div class="valid-feedback">いいね</div>
                <div class="invalid-feedback">IDを入力してください。</div>
              </div>
            </div>
          </div>
          <div class="join_row">
            <div class="form-group">
              <h3 class="join_title">
                <label for="password1">* パスワード</label>
              </h3>
            <input type="password" class="form-control" id="password1" th:field="*{password1}" placeholder="パスワードを入力してください" autocomplete="off"/>
            </div>
          </div>
          <div class="join_row">
            <div class="form-group">
              <h3 class="join_title">
                <label for="password2">* パスワード再入力</label>
              </h3>
            <input type="password" class="form-control" id="password2" th:field="*{password2}" placeholder="パスワードを入力してください" autocomplete="off"/>
            </div>
          </div>
          <div class="join_row">
            <div class="form-group">
              <h3 class="join_title">
                <label for="email">* メールアドレス</label>
              </h3>
              <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="メールアドレスを入力してください" autocomplete="off"/>
            </div>
          </div>

          <div class="join_row">
            <div class="form-group form-check">
              <h3 class="join_title">
                <input type="checkbox" class="form-check-input" id="terms" />
              </h3>
              <label class="form-check-label" for="terms">利用規約に同意する</label>
            </div>
          </div>
          <div class="btn_area">
            <button type="submit" class="btn_submit">
              <span>登録する</span>
            </button>
          </div>
        </form>
        <a href="login">ログインページに戻る</a>
      </div>
    </div>
  </div>
  </main>

  <footer th:replace="~{footer :: footerFragment}"></footer>
  <script type="text/javascript" th:src="@{/js/common.js}"></script>
</div>

<script layout:fragment="script" type='text/javascript'>

var header = $("meta[name='_csrf_header']").attr('content');
var token = $("meta[name='_csrf']").attr('content');

function isValidUsername(username) {
    // 数字、大文字、小文字 4~10桁
    var regex = /^[a-zA-Z0-9]{4,10}$/;
    return regex.test(username);
}

$(document).ready(function() {
    $('#check-duplicate').click(async function() {
        var username = $('#username').val();
        if (username) {
            if (!isValidUsername(username)) {
                alert("IDは数字、英語大文字、小文字の4~10桁で入力してください。");
                return;
            }
            try {
                const response = await fetch(`/signin/check-duplicate?username=${encodeURIComponent(username)}`);
                if (response.ok) {
                    const data = await response.json();
                    if (data.isDuplicate) {
                        alert("既に登録されたIDです。");
                    } else {
                        alert("使用可能なIDです。");
                    }
                } else {
                    alert("サーバーエラーが発生しました。");
                }
            } catch (error) {
                console.error("Error:", error);
                alert("エラーが発生しました。");
            }
        } else {
            alert("IDを入力してください。");
        }
    });
});
</script>
</html>