<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <header th:replace="~{header :: headerFragment}"></header>
  <main>
    <!-- サイト情報 -->
    <div class="container">
      <div class="row text-center justify-content-center">
        <div class="col-md-2">
          <div class="row p-5"></div>
          <nav class="nav nav-pills flex-column position-fixed">
            <a class="nav-link" th:href="@{/admin}">サイト管理</a>
            <a class="nav-link" th:href="@{/admin/user}">ユーザー管理</a>
            <a class="nav-link" th:href="@{/admin/recipe}">レシピ管理</a>
          </nav>
        </div>
        <div class="col-md-10">
          <div class="mt-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/index}">ホーム</a></li>
                <li class="breadcrumb-item"><a th:href="@{/admin}">管理者ページ</a></li>
                <li class="breadcrumb-item active" aria-current="page">ユーザー管理</li>
              </ol>
            </nav>
          </div>
          <div class="container-fluid">
            <div class="row text-center justify-content-center">
              <!-- ユーザー数 -->
              <div class="row p-2"></div>
              <div class="col-md-6">

                <h1>ユーザー総計&nbsp;</h1>
                <div class="row p-5"></div>
                <h3><span th:text="${totalUserCount + '名'}"></span></h3>
              </div>
              <!-- ユーザー情報修正、削除 -->
              <div class="col-md-6">
                <div class="row justify-content-center text-center">
                  <h1>ユーザー情報修正、削除</h1>
                    <table>
                      <tr>
                        <th><h4>id</h4></th>
                        <th><h4>名前</h4></th>
                        <th><h4>削除</h4></th>
                      </tr>
                      <div th:each="user : ${users}">
                        <tr>
                          <h5><td th:text="${user.id}"></td></h5>
                          <h5><td th:text="${user.username}"></td></h5>
                          <td>
                            <form th:action="@{'/admin/user/' + ${user.id}}" method="post">
                              <button type="submit">削除</button>
                            </form>
                          </td>
                        </tr>
                      </div>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-5"></div>
        <div class="row p-5"></div>
        <div class="row p-5"></div>
        <div class="row p-5"></div>
      </div>
    </div>
  </main>
  <footer class="bg-light mt-3 p-3 text-center">
    <p>Recipe Management Site &copy; 2023</p>
  </footer>
</div>
</html>
