body {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.login_form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  display: block;
  margin: 0 auto;
  align-items: center;
}

.login_text {
  text-align: center;
}

.form_log {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20;
}

.form_pass {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20;
}

.login_button {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20;
}
