@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

:root {
    --baseColor: #333;
    --selectColor: #e53222;
    --baseContainer: 79.375rem;
    /*1270px*/
}

/* 이부분 header만 적용되게 바꾸기 */
header nav ul li>a:link,
a:visited,
a:hover,
a:active {
    color: var(--baseColor);
    font-family: "Roboto", sans-serif;
}

.header_area {
    margin: 10px 40px 10px 40px;
    padding-top: 7px;
    /* top: -10px; */
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(252, 252, 253);
    z-index: 2;
    opacity: 0.8;
    backdrop-filter: blur(30px);
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header h1 {
    position: absolute;
    left: -1000px;
} */

header nav ul {
    display: flex;
    text-align: center;
}

header nav ul li {
    padding: 0 0px;
    width: 100px;
}

header nav ul li a {
    position: relative;
    display: inline-block;
    line-height: 3rem;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

header nav ul li.active a,
header nav ul li:hover a {
    color: var(--selectColor);
    text-decoration: none;
}

header nav ul li a:after {
    opacity: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--selectColor);
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}

header nav ul li.active a:after,
header nav ul li:hover a:after {
    opacity: 1;
}

li {
    list-style-type: none;
}

header #thumb_nail {
    width: 50px;
    height: 50px;
}

main {
    z-index: -1;
    overflow: hidden;
}


#indexSearch {
    z-index: auto;
}